.category-container{
    display: flex;
    gap:10px;
    flex-direction: row;
justify-content: center;
/* margin-bottom: 5rem; */
padding-bottom: 5rem;
background-color: #E1EBEE;
}
.category-container .category-card{
    padding:2rem;
    width:500px;
    height:300px;
    background-color: antiquewhite;
  
}
.category-container .category-card{
    display: flex;
    flex-direction: column;
    gap:10px;

}
.category-card .hero{

    background-color: beige;
    padding:50px;
    height: 70%;
    text-decoration: none;

}

.category-card .hero h3,p{
    color:black;
    font-size: larger;
}

.category-card .hero h3:hover,p:hover{
    color:burlywood;
}
.category-card:hover{
    cursor: pointer;
}