body{
    margin:0;
    padding:0;
}
.checkout-wrapper{
   
    width:100%;
    height:100vh;
    padding:2rem;
 
}
.container-wrapper{
    display: flex;
   justify-content: space-between;
   /* align-items: center; */
   gap:100px;
   margin-top:50px;
}
.container-wrapper  .left-section{

    display: flex;
    flex-direction: column;
    gap:10%;
    margin-left:10%;
    margin-top:1.5rem;
    flex-wrap: wrap;
    min-height:500px;
}
.address-card{
    
    width:100%;
    min-height:200px;
    padding:25px;
    text-align: left;
    margin-left:10%;
  
    /* align-self:flex-start; */

    box-shadow: 4px 3px 8px
}
.left-section input{
    margin-left:2px;
    margin-right:5px;

}
.right-section{
    width:30%;
   min-height:500px;
    padding:25px;
    /* text-align: left; */
    margin-left:10%;
    /* align-self:flex-end; */

    box-shadow: 4px 3px 8px 1px #969696;

    
}
.right-section{
    display: flex;
    flex-direction: column;
    gap:1rem;
    flex-wrap: wrap;
    position: fixed;
    /* align-self: flex-end; */
    /* align-self: flex-end; */
    margin-right:50px;
    right:0;
    /* top:0; */
 
}
.child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.5rem;
    text-align: left;
    font-size: 12px;
    
}
.address-deatils{
    padding:0.5rem;
    text-align: left;
    font-size: 12px;
    flex-wrap: wrap;

}
.address-deatils button:hover{
    cursor: pointer;
}

.left-section button{
    padding:0.5rem;
  border-radius:10%;
  color: #FFFFFF;
  background-color: #8AAAE5;
  font-size: 15px;
  width:100px;
  top:0;

}
.left-section button:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color:brown
  }

  .right-section{
    flex-wrap: wrap;  
  }