 /* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid white;
  }
  * {
    margin: 0;
    padding: 0;
  } */
  
  .form-login {
    margin: 5rem;
  }
  .login-container {
    display: flex;
    width: 800px;
    height: 500px;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    flex-direction: row;
    margin: 0 auto;
    margin-top: 2rem;
    /* align-items: center; */
  }
  input {
    /* margin-bottom: 3rem; */
    margin-left: 2rem;
  }
  
  .right img {
    width: 50%;
    width: 400px;
    height: 500px;
  }
  
  .left {
    background-color: beige;
    width: 50%;
  }
  .btn-login-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .submitBtn {
    width: 5rem;
    margin-left: 1rem;
  }
  .header-login {
    margin: 2rem;
  }
  .submitBtn:hover {
    background-color: transparent;
    color: brown;
    cursor: pointer;
  }
  .login-confirmation span {
    color: blue;
    font-weight: 10px;
  }
  .login-confirmation span:hover {
    font-weight: 25px;
  }
  
  /*
  .form-box {
    min-width: 100%;
    height: 100vh;
    border: solid #e6b99f 5vw;
    /* border: 1px solid red; */
    /* margin: 0vw;
    padding: 5vw;
    position: relative;
    /* position:relative for .prevBtn and .nextBtn position:absolute; */
  /* }
  .form-box h5 {
    font-size: 35px;
    text-align: center;
    color: #e6b99f;
    margin: 0 0 0.5vh 0; */
  /* }
  .form-box label {
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 0 0 2vh 0;
  }
  .form-box input,
textarea {
  display: block;
  width: 50%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw 0; */
  /* border: 0;
  border-radius: 5px;
  font-size: 20px; */
/* }

.form-box textarea {
  height: 15vh;
}
.prevBtn,
.nextBtn {
  display: inline-block;
  width: 30%;
  height: 2rem; */
  /* color: red;
  border: 0;
  bottom: 0;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
} */

/* .prevBtn {
  margin: 1rem 0 1rem 0;
  border-radius: 20px 0 0 20px;
} */
/* 
.nextBtn {
  margin: 1rem 0 1rem 8rem;
  margin-left: 52%;
  border-radius: 0 20px 20px 0;
} */ 

/* .nextBtn:hover,
.prevBtn:hover,
NavLink:hover {
  background-color: rgb(245, 245, 78);
  transition: 1s background ease;
  /* color:blue */
/* } */
/*margin: top right bottom left;*/

/* .nextBtn{
  margin-left: 52%; */ 
/* }
.prevBtn, .nextBtn{
  margin: 1rem 0 1rem 0;
  display: inline-block;
} */