.footer-section{
    width:100%;
    background-color:  #E1EBEE;
    height:15vh;
    text-decoration: none;
   
}
.footer-section h2{
    padding:10px;
}
.connect-icons-wrapper{
    display: flex;
    justify-content: center;
    gap:2rem;
    padding:1rem;
    /* margin:1rem; */
    text-decoration: none;
   
}
