/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,600;1,700&family=Roboto+Condensed:ital@1&family=Ubuntu:wght@500&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin : 0px;
    width:100vw;

}
:root{
   /* * --primmary-color: #AAEFDF;* */
  /** --primary-color: #ADEFD1FF;**/
  /* --primary-color : #89ABE3FF;
   --offwhite-color:#F3F4F6;
    --secondary-color : #00203FFF;
} */ 
